h1 {
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "Titan One", sans-serif;
  font-size: 64px;
  color: #7de3fd;
  letter-spacing: 5px;
  text-shadow:
    3px 5px 0 #0B2545,
    1px 1px 0 #0B2545;
}

body {
  color: #0B2545;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  background-color: #0B2545;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 21px;
  margin: 0;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  display: block;
  margin: 20px;
  padding: 10px;
  font-weight: 300;
  font-size: 18px;
  word-spacing: 20px;
}

a {
  color:#EEF5DB;
  text-decoration: none;
}
footer a:hover {
  font-family: "Titan One", sans-serif;
  font-weight: 100;
}
