@import url('https://fonts.googleapis.com/css?family=Titan+One:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700');

#container {
  margin: 0 auto;
  width: 37.5em;
  background-color: #ffffff;
}

header {
  font-family: "Titan One", sans-serif;
  text-align: center;
  color: #7de3fd;
  letter-spacing: .375em;
  text-shadow:
    .1875em .3125em 0 #0B2545,
    .0625em .0625em 0 #0B2545;
  padding: 1.25em;
}

header h1 { 
  margin: 0; 
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #0B2545;
  text-shadow: none;
}

body {
  background-image: url("https://images.unsplash.com/photo-1517677208171-0bc6725a3e60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9562ec20a676b0468c71c3c5488e603a&auto=format&fit=crop&w=2700&q=80");
  background-repeat: no-repeat;
  background-size: 150%;
}

nav {
  background: #0B2545;
}

nav a {
  display: block;
  float: left;
  padding: .3125em .625em;
  color: #EEF5DB;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;
  
}

nav a:hover { 
  background-color: #061526; 
}

.column {
  float: left;
  width: 16.25em;
  height: 18.75em;
  padding: 1.25em;
  margin: 0;
}

#column1 {
  background-color: #7de3fd;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

#column2 {
  background-color: #5485FF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

footer {
  background-color: none;
  text-align: right;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: .875em;
  padding: 1.25em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}