body {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
  /* color: #0B2545;
  text-shadow:
    1px 1px 0 #EEF5DB,
    1px 1px 0 #EEF5DB;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  /*  background-color: #0B2545 #EEF5DB;*/
  /*background-image: url("https://images.unsplash.com/photo-1517677208171-0bc6725a3e60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9562ec20a676b0468c71c3c5488e603a&auto=format&fit=crop&w=2700&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 20px;
  margin: 0;
  text-align: center; */
}

article {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;  
}

nav {
  background-color: #E8C66A;
  border: 1px black solid;
  padding: 20px;
}
h1 {
  background-color: #FFED74;
  border: 1px black solid;
  padding: 20px;
  /* padding-top: 3px;
  padding-bottom: 3px;
  font-family: "Titan One", sans-serif;
  font-size: 64px;
  color: #7de3fd;
  letter-spacing: 5px;
  text-shadow:
    3px 5px 0 #0B2545,
    1px 1px 0 #0B2545; */
}

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #0B2545;
} */

/*li {
  float: left;
  background: #0B2545;
} */

/*li a {
  display: block;
  color: #EEF5DB;
  font-weight: 100;
  text-shadow: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Change the link color on hover
li a:hover {
  background-color: #061526;
} */

footer {
  background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}