h1 {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 64px;
  color: #7de3fd;
  letter-spacing: 5px;
}

p {
  font-style: italic;
}

p1 {
  text-decoration: underline;
}

body {
  color: #0B2545;
  font-weight: 700;
  background-color: #0B2545;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {
  text-align: right;
  background: #0B2545;
}
